.button {
    .cmp-button, a.cmp-button {
        text-decoration: none;
        font-family: Roboto;

        .cmp-button__text.mdc-button__label {
            text-transform: capitalize;
        }
        .cmp-button__icon {}

        &.mdc-button.mdc-icon-button.material-icons {
            font-family: 'Material Icons';
            text-transform: none;
        }
    }
}